<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-position: center; background-image: url(https://s3-ap-southeast-2.amazonaws.com/cae-wp-user-uploads/app/uploads/2016/03/10005922/Book-Groups_Book-Catalogue.jpg)">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Booky <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/register">register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">users</a>
            </li>
            </li> <li class="nav-item">
            <a class="nav-link" href="/addbook">add book</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="/allbooks">all books</a>
            </li>


            <li><a role="button" class="nav-item nav-link" th:href="@{/logout}">logout</a></li>
            <a class="nav-item nav-link"><p th:text="${@userContextHolder.getUserLoggedIn()}"></p></a>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<form th:action="@{/addbook}" th:object="${addbook}" method="post">
    <div class="col-2">
        <label for="exampleInputTitle">title</label>
        <input id="exampleInputTitle" class="form-control" type="text" th:field="*{title}"
               placeholder="title">
        <span th:errors="*{title}"></span>
    </div>
    <div class="col-2 ">
        <label for="exampleInputAuthorName">author name</label>
        <input id="exampleInputAuthorName" class="form-control" type="text" th:field="*{authorName}"
               placeholder="author name">
        <span th:errors="*{authorName}"></span>
    </div>
    <div class="col-2 ">
        <label for="exampleInputAuthorSurname">author surname</label>
        <input id="exampleInputAuthorSurname" class="form-control" type="text" th:field="*{authorSurname}"
               placeholder="author surname">
        <span th:errors="*{authorSurname}"></span>
    </div>
    <div class="col-2 ">
        <label for="exampleInputDate">date of publish</label>
        <input id="exampleInputDate" class="form-control" type="text" th:field="*{dateOfPublish}"
               placeholder="date of publish">
        <span th:errors="*{dateOfPublish}"></span>
    </div>
    <div class="col-2 ">
        <label for="exampleInputBarcode">book barcode</label>
        <input id="exampleInputBarcode" class="form-control" type="text" th:field="*{bookBarcode}"
               placeholder="barcode">
        <span th:errors="*{bookBarcode}"></span>
    </div>

    <button  type="submit" class="btn btn-warning btn-sm">add case</button>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>